#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url(./img/99.23551074.1.jpg);
  color: #fff;
  background-attachment: fixed;
  border-bottom: 1px solid #eee;
  padding-top: 60px;
}